.miwowidget-top .widget-title {
    padding: 0 !important;
}

.ui-widget-overlay {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    left: 0;
    min-height: 360px;
    opacity: 0.7;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100101;
}

.ui-dialog {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100102;
}

.ui-dialog-titlebar {
    background: none repeat scroll 0 0 #fcfcfc;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    padding: 0 36px 0 16px;
}
.ui-helper-clearfix {
    min-height: 0;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix:after, .ui-helper-clearfix:before {
    border-collapse: collapse;
    content: "";
    display: table;
}

.ui-dialog-titlebar-close:before {
    font: 400 18px/18px dashicons !important;
}
.ui-dialog-titlebar-close:before {
    content: "";
    font: 400 20px/36px dashicons;
    height: 36px;
    vertical-align: middle;
    width: 36px;
}
.ui-dialog-titlebar-close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: none;
    color: #666;
    cursor: pointer;
    display: block;
    height: 36px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 36px;
    text-decoration: none;
}
.ui-dialog-titlebar-close .ui-button-text {
    display: none;
}

.miwowidget {
    width: 13.0527% !important;
}

.miwowidget-top {
    margin: 0 !important;
}

label {
    margin: 0 10px !important;
}

.miwowidget-inside {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.miwowidget-inside .widget-top {
    background: none repeat scroll 0 0 #f7f7f7;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
